{% extends "generic_list.html" %}
{% load static %}

{% block title %}
<div class="row mt-4">
    <div class="col-8 col-md-8">
        <h2><strong>{{ page_title }}</strong></h2>
    </div>
    <div class="col-4 col-md-4 float-right">
        <div class="d-flex justify-content-end">
        <div class="col-2 d-flex justify-content-end">
            <a href="#" onclick="modal_generic('{% url 'logchecker:district_update' 1111 %}')" class="btn btn-lg btn-primary">Update</a>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a href="#" onclick="modal_generic('{% url 'logchecker:district_new' %}')" class="btn btn-lg btn-primary">New</a>
        </div>
        </div>
    </div>
</div>
{% endblock title %}

{% block chart %}
    <canvas id="myChart" width="350" height="350"></canvas>
{% endblock chart %}

{% block cardheader %}
<div class="row">
    <div class="col-sm-6">
        <h5>Districs Table</h5>
    </div>
    <div class="col-sm-6">
        <form action="." class="form-inline">
            <div class="row pt-3 pb-3 pe-3 ps-3">
                <div class="input-group">
                    <button class="btn btn-outline-primary input-group-text">Search</button>
                    <input type="search" class="form-control" id="search_input" name="search_" placeholder="Search field...">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock cardheader %}

{% block thead %}
<thead>
    <tr>
        <th>#</th>
        <th>District</th>
        <th>PSID</th>
        <th>Status</th>
        <th>Update</th>
    </tr>
</thead>
{% endblock thead %}

{% block tbody %}
<tbody>
    {% for dist in page_obj %}
        <tr>
            <td>{{ forloop.counter0 }}</td>
            <td>{{ dist.name }}</td>
            <td>{{ dist.psid }}</td>
            <td>{{ dist.status }}</td>
            <td> <a href="{% url 'logchecker:readlog' dist.psid %}" class="btn btn-primary btn-sm" >Update</a> </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock tbody %}

{% block card_footer %}
<div class="d-flex justify-content-end">
<div class="btn-group" role="group">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-secondary btn-sm btn_paginate">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary btn-sm btn_paginate">&laquo;</a>
    {% else %}
        <a href="#" class="btn btn-outline-secondary btn-sm btn_paginate disabled">First</a>
        <a href="#" class="btn btn-outline-secondary btn-sm btn_paginate disabled">&laquo;</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a href="?page={{ num }}" class="btn btn-outline-primary btn-sm btn_paginate"><strong>{{ num }}</strong></a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-secondary btn-sm btn_paginate">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary btn-sm btn_paginate">&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary btn-sm btn_paginate">Last</a>
    {% else %}
        <a href="#" class="btn btn-outline-secondary btn-sm btn_paginate disabled">&raquo;</a>
        <a href="#" class="btn btn-outline-secondary btn-sm btn_paginate disabled">Last</a>
    {% endif %}
</div>
  

    
</div>
{% endblock card_footer %}

{% block js %}
<script>
    let canvas = document.getElementById("myChart");
    let ctx = canvas.getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{chart_labels | safe}},
            datasets: [{
                data: {{ chart_values | safe }},
                backgroundColor: [
                    '#FF474B',
                    '#FEE043',
                    '#649CB8',
                    '#58AB51',
                        ],
                borderWidth: 1
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });

    canvas.onclick = function(evt) {
        let activePoints = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
        if (activePoints.length){
            activePoints.forEach((p) => {
                let label = myChart.data.labels[p.index];
                let value = myChart.data.datasets[p.datasetIndex].data[p.index];
                console.log(`label: _[${label}]_, value: [${value}] cant`);
                let url = "http://127.0.0.1:8000/chart_detail/" + label + "/";
                console.log(url);
                modal_generic(url);
                
                // alert(url);
            })
        };
        
    };

    {% for key, val in servers.items %}
      
    new Chart(document.getElementById("server{{key}}").getContext("2d"), {
        type: 'bar',
        data: {
            labels: {{chart_labels | safe}},
            datasets: [{
                    backgroundColor: [
                    '#FF474B',
                    '#FEE043',
                    '#649CB8',
                    '#58AB51',
                        ],
                    data: {{val | safe}},
                },
            ]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                    position: 'top',
                  },
                  
            },
            scales:{
                x: {
                    display: false
                }
            },
            responsive: true,
            maintainAspectRatio: false,
        }
    });
    {% endfor %}
   
</script>
{% endblock js %}
