{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<body class="hold-transition sidebar-mini layout-fixed">
   
        <!-- Header -->
        {% if request.user.username %}
            {% include 'header.html' %}
        {% endif %}
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Content -->
    <div class="wrapper">
        
        {% block content %}
        {% endblock content %}

        <!-- Footer -->
        {% if request.user.username %}
            {% include 'footer.html' %}
        {% endif %}
    </div>
    <!-- Block javascript -->
    {% block javascript %}
        
    {% endblock %}
    <script>
        {% if messages %}
        var html = '<p>';
        {% for message in messages %}
        html += '{{ message }}<br>';
        {% endfor %}
        html += '</p>';
        Swal.fire({
            title: 'HOLA!',
            html: html,
            icon: 'success'
        });
        {% endif %}
    </script>
</body>
{% endblock body %}