{% extends "body.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

{% endblock head %}



{% block content %}<div class="container-fluid">
{% block title %}
{% endblock title %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <div class="card card-primary mt-4">
                        <div class="card-header text-left bg-secondary text-light pt-1 pb-0">
                            <h5>Districs Table</h5>
                        </div>
                        <div class="card-body card_chart">
                            {% block chart %}
                            {% endblock chart %}
                        </div>
                        <div class="card-footer">
                            <p>This is footer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-primary mt-4">
                        <div class="card-header text-left bg-info text-light pt-1 pb-0">
                            <h5>Districs Table</h5>
                        </div>
                        <div class="card-body">
                            {% comment %} <a href="{% url 'logchecker:readlog' 1111 %}">Read Log</a> {% endcomment %}
                            
                            {% block chart-stacked %}

                            {% endblock chart-stacked %}
                        </div>
                        <div class="card-footer">
                            <p>This is footer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for key, val in servers.items %}
                        <div class="col ml-0 mr-0 mt-0">
                            <div class="card mt-4">
                                <div class="card-header bg-secondary text-light">
                                    Server# {{ key }}
                                </div>
                                <div class="card-body server_modal">
                                    <div class="row">
                                        <div class="col-6 mt-0">
                                            <small>Status</small>
                                        </div>
                                        <div class="col-6 mt-0 d-flex justify-content-end">
                                            <small class="text-right"># Districts</small>
                                        </div>
                                    </div>
                                    <span class="form-control server_span">
                                        <canvas id="server{{ key }}" width="100" height="100"></canvas>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-primary mt-4">
                        <div class="card-header text-light bg-secondary pt-1 pb-0">
                            <div class="col-sm-6">
                                <h5>Districs Table</h5>
                            </div>
                        </div>
                        <div class="card-body h-100">
                            <div class="card">
                            <table class="table table-sm table-hover table-responsive table_districts" id="data">
                                <div class="card-header">
                                {% block cardheader %}
                                {% endblock cardheader %}
                                        {% block thead %}
                                        {% endblock thead %}
                                </div>
                                </table>
                                <div class="card-body card_table">
                                    <table class="table table-sm table-hover table-responsive table_districts" id="data">
                                        {% block tbody %}
                                        {% endblock tbody %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {% block card_footer %}
                            {% endblock card_footer %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" aria-hidden="true" aria-labelledby="modalGeneric" id="modalGeneric" role="dialog" tabindex="-1">
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>




{% block js %}
{% endblock js %}

{% endblock content %}